.ParkingSpace {
    border: 1px solid black;
    padding: 1%;
    margin: 0 2% 4% 2%;
    box-shadow: 1px 2px 1px black, -1px 2px 1px black;
    background-color: white;
    border-radius: 5px;
    color: black;
}

.ParkingSpace button {
    background-color: #4b809b;
    width: 100%;
    padding: 15px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
}

.Spacer {
    margin: 37px 0;
}
.CheckedOut button {
    background-color:#4c6471 ;
}